[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color={{ rgb .Palette.Muted }}
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{ rgb .Palette.Surface }}
BackgroundNormal={{ rgb .Palette.Surface }}
DecorationFocus={{ rgb .Palette.Accent }}
DecorationHover={{ rgb .Palette.Accent2 }}
ForegroundActive={{ rgb .Palette.Accent }}
ForegroundInactive={{ rgb .Palette.Muted }}
ForegroundLink={{ rgb .Palette.Accent2 }}
ForegroundNegative={{ rgb .Palette.Error }}
ForegroundNeutral={{ rgb .Palette.Warning }}
ForegroundNormal={{ rgb .Palette.Text }}
ForegroundPositive={{ rgb .Palette.Positive }}
ForegroundVisited={{ rgb .Palette.Accent3 }}

[Colors:Header]
BackgroundAlternate={{ rgb .Palette.BG }}
BackgroundNormal={{ rgb .Palette.Surface }}
DecorationFocus={{ rgb .Palette.Accent }}
DecorationHover={{ rgb .Palette.Accent2 }}
ForegroundActive={{ rgb .Palette.Accent }}
ForegroundInactive={{ rgb .Palette.Muted }}
ForegroundLink={{ rgb .Palette.Accent2 }}
ForegroundNegative={{ rgb .Palette.Error }}
ForegroundNeutral={{ rgb .Palette.Warning }}
ForegroundNormal={{ rgb .Palette.Text }}
ForegroundPositive={{ rgb .Palette.Positive }}
ForegroundVisited={{ rgb .Palette.Accent3 }}

[Colors:Header][Inactive]
BackgroundAlternate={{ rgb .Palette.Surface }}
BackgroundNormal={{ rgb .Palette.BG }}
DecorationFocus={{ rgb .Palette.Accent }}
DecorationHover={{ rgb .Palette.Accent2 }}
ForegroundActive={{ rgb .Palette.Accent }}
ForegroundInactive={{ rgb .Palette.Muted }}
ForegroundLink={{ rgb .Palette.Accent2 }}
ForegroundNegative={{ rgb .Palette.Error }}
ForegroundNeutral={{ rgb .Palette.Warning }}
ForegroundNormal={{ rgb .Palette.Subtext }}
ForegroundPositive={{ rgb .Palette.Positive }}
ForegroundVisited={{ rgb .Palette.Accent3 }}

[Colors:Selection]
BackgroundAlternate={{ rgb .Palette.Accent }}
BackgroundNormal={{ rgb .Palette.Accent }}
DecorationFocus={{ rgb .Palette.Accent }}
DecorationHover={{ rgb .Palette.Accent2 }}
ForegroundActive={{ rgb .Palette.BG }}
ForegroundInactive={{ rgb .Palette.Text }}
ForegroundLink={{ rgb .Palette.Accent2 }}
ForegroundNegative={{ rgb .Palette.Error }}
ForegroundNeutral={{ rgb .Palette.Warning }}
ForegroundNormal={{ rgb .Palette.BG }}
ForegroundPositive={{ rgb .Palette.Positive }}
ForegroundVisited={{ rgb .Palette.Accent3 }}

[Colors:Tooltip]
BackgroundAlternate={{ rgb .Palette.BG }}
BackgroundNormal={{ rgb .Palette.Surface }}
DecorationFocus={{ rgb .Palette.Accent }}
DecorationHover={{ rgb .Palette.Accent2 }}
ForegroundActive={{ rgb .Palette.Accent }}
ForegroundInactive={{ rgb .Palette.Muted }}
ForegroundLink={{ rgb .Palette.Accent2 }}
ForegroundNegative={{ rgb .Palette.Error }}
ForegroundNeutral={{ rgb .Palette.Warning }}
ForegroundNormal={{ rgb .Palette.Text }}
ForegroundPositive={{ rgb .Palette.Positive }}
ForegroundVisited={{ rgb .Palette.Accent3 }}

[Colors:View]
BackgroundAlternate={{ rgb .Palette.Surface }}
BackgroundNormal={{ rgb .Palette.BG }}
DecorationFocus={{ rgb .Palette.Accent }}
DecorationHover={{ rgb .Palette.Accent2 }}
ForegroundActive={{ rgb .Palette.Accent }}
ForegroundInactive={{ rgb .Palette.Subtext }}
ForegroundLink={{ rgb .Palette.Accent2 }}
ForegroundNegative={{ rgb .Palette.Error }}
ForegroundNeutral={{ rgb .Palette.Warning }}
ForegroundNormal={{ rgb .Palette.Text }}
ForegroundPositive={{ rgb .Palette.Positive }}
ForegroundVisited={{ rgb .Palette.Accent3 }}

[Colors:Window]
BackgroundAlternate={{ rgb .Palette.BG }}
BackgroundNormal={{ rgb .Palette.Surface }}
DecorationFocus={{ rgb .Palette.Accent }}
DecorationHover={{ rgb .Palette.Accent2 }}
ForegroundActive={{ rgb .Palette.Accent }}
ForegroundInactive={{ rgb .Palette.Muted }}
ForegroundLink={{ rgb .Palette.Accent2 }}
ForegroundNegative={{ rgb .Palette.Error }}
ForegroundNeutral={{ rgb .Palette.Warning }}
ForegroundNormal={{ rgb .Palette.Text }}
ForegroundPositive={{ rgb .Palette.Positive }}
ForegroundVisited={{ rgb .Palette.Accent3 }}

[General]
ColorScheme={{ .Slug }}
Name={{ .Name }}
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{ rgb .Palette.Surface }}
activeBlend={{ rgb .Palette.Text }}
activeForeground={{ rgb .Palette.Text }}
inactiveBackground={{ rgb .Palette.BG }}
inactiveBlend={{ rgb .Palette.Muted }}
inactiveForeground={{ rgb .Palette.Muted }}
