[Background]
Color={{ rgb .Term.Background }}

[BackgroundFaint]
Color={{ rgb .Term.Background }}

[BackgroundIntense]
Color={{ rgb .Term.Background }}

[Color0]
Color={{ rgb .Term.Black }}

[Color0Faint]
Color={{ rgb .Term.Black }}

[Color0Intense]
Color={{ rgb .Term.BrightBlack }}

[Color1]
Color={{ rgb .Term.Red }}

[Color1Faint]
Color={{ rgb .Term.Red }}

[Color1Intense]
Color={{ rgb .Term.BrightRed }}

[Color2]
Color={{ rgb .Term.Green }}

[Color2Faint]
Color={{ rgb .Term.Green }}

[Color2Intense]
Color={{ rgb .Term.BrightGreen }}

[Color3]
Color={{ rgb .Term.Yellow }}

[Color3Faint]
Color={{ rgb .Term.Yellow }}

[Color3Intense]
Color={{ rgb .Term.BrightYellow }}

[Color4]
Color={{ rgb .Term.Blue }}

[Color4Faint]
Color={{ rgb .Term.Blue }}

[Color4Intense]
Color={{ rgb .Term.BrightBlue }}

[Color5]
Color={{ rgb .Term.Magenta }}

[Color5Faint]
Color={{ rgb .Term.Magenta }}

[Color5Intense]
Color={{ rgb .Term.BrightMagenta }}

[Color6]
Color={{ rgb .Term.Cyan }}

[Color6Faint]
Color={{ rgb .Term.Cyan }}

[Color6Intense]
Color={{ rgb .Term.BrightCyan }}

[Color7]
Color={{ rgb .Term.White }}

[Color7Faint]
Color={{ rgb .Term.White }}

[Color7Intense]
Color={{ rgb .Term.BrightWhite }}

[Foreground]
Color={{ rgb .Term.Foreground }}

[ForegroundFaint]
Color={{ rgb .Term.Foreground }}

[ForegroundIntense]
Color={{ rgb .Term.BrightWhite }}

[General]
Anchor=0.5,0.5
Blur=true
ColorRandomization=false
Description={{ .Name }}
FillStyle=Tile
Opacity={{ printf "%.2f" .Opacity }}
Wallpaper=
WallpaperFlipType=NoFlip
WallpaperOpacity=1
